.container {
  max-width: 120rem; // if viewport width allow, if not, occupy 100% of available space
  margin: 8rem auto; // center div
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);

  // define width for a flex item using flex-basis
  // flex: grow shrink flex-basis
  flex: 0 0 18%;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}