.story {
  width: 75%;
  margin: 0 auto; // centering block element inside block element
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);


  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    // to make text float around a circle
    -webkit-shape-outside: circle(50% at 50% 50%); 
    shape-outside: circle(50% at 50% 50%); // radius 50%,and this needs element to be floated like our case and has defined dimensions
    // to make the shape actually aa circle
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: skewX(12deg);
  }

  &__image {
    height: 100%; // will make image be fit into the shape height

  }

  &__text {
    transform: skewX(12deg);
  }
}