
/* Fonts for all the site, always fonts are placed in body*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400; /* standard weight*/
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-grey-dark; /* set text color*/
  padding: 3rem; /* applying padding to the whole site, to give us a nice white space */
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  /* for shaky animation ??? */
  backface-visibility: hidden; 
  margin-bottom: 6rem;

  &--main {
    display: block; /* to make it take the full width and add line break*/
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  
  &--sub {
    display: block;  /* to make it take the full width and add line break*/
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
  
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right, 
    $color-primary-light, 
    $color-primary-dark
  );
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; // to make text transparent so that the bg-clip be visible
  transition: all .2s;
  letter-spacing: 2px;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .5);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {

  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}