.row {
  max-width: $grid-width; // 114rem is like a standard or what we usually use
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $grid-gutter-vertical;

    @include respond(tab-port) { 
      margin-bottom: $grid-gutter-vertical-small;
    }
  }

  // in this screen size, viewport width is lower from max-width of 114rem, and row takes the entire screen width
  @include respond(tab-port) { 
    max-width: 50rem;
    padding: 0 3rem;
  }

  @include clearfix;

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $grid-gutter-horizontal;

      @include respond(tab-port) { 
        margin-right: 0;
        margin-bottom: $grid-gutter-vertical-small;
      }
    }

    @include respond(tab-port) { 
      width: 100% !important;
    }
  }


  .col-1-of-2 {
    width: calc((100% - #{$grid-gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$grid-gutter-horizontal * 2}) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - #{$grid-gutter-horizontal * 3}) / 4);
  }

  .col-2-of-3 {
    width: calc((2 * (100% - #{$grid-gutter-horizontal * 2}) / 3) + #{$grid-gutter-horizontal});
  }

  .col-2-of-4 {
    width: calc((2 * (100% - #{$grid-gutter-horizontal * 3}) / 4) + #{$grid-gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc((3 * (100% - #{$grid-gutter-horizontal * 3}) / 4) + 2*#{$grid-gutter-horizontal});
  }


}